# Ignore logs
*.log
/logs/

# Ignore Client Data
/AppData-Client/
/AppData-Client/temp-models/
/AppData-Client/temp-datasets/

# Ignore Server Data
/AppData-Server/
/AppData-Server/databases/
/AppData-Server/models/
/AppData-Server/datasets/
/AppData-Server/images-models/
/AppData-Server/images-datasets-fingers/
/AppData-Server/images-datasets-sensors/