# Ignore logs
*.log
/logs/

# Ignore Libraries
/venv/

# Ignore Client App Data
/AppData-Client/
/AppData-Client/temp-models/
/AppData-Client/temp-datasets/

# Ignore Server App Data
/AppData-Server/
/AppData-Server/databases/

/AppData-Server/datasets/
/AppData-Server/images-datasets-fingers/
/AppData-Server/images-datasets-sensors/

/AppData-Server/models/
/AppData-Server/zip-models/
/AppData-Server/images-models-errors/
/AppData-Server/images-models-predictions/